body {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color:#515076;
    background-image:url(images/bg.png);
    background-repeat: no-repeat;
    background-position: 180px 0px;

}

.title {
    font-size: 70px;
    line-height: 78px;
    text-align: center;
    font-weight: 400;
    margin-top: 220px;
    margin-bottom: 110px;
   

}

.card-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0px;
    padding: 0px;

}

.card {
    background-color: #F7F7FA;
    width: 290px;
    list-style-type: none;
    padding: 25px 25px;
    

}

.images {
    width: 290px;
    height: 245px;
    margin-bottom: 30px;

}

.for-normal-skin {
    font-size: 12px;
    line-height: 24px;
    color: #A5A3B9;
    text-transform: uppercase;

}

.name-card {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    margin: 5px 0px;

}

.puprose-of-the-goods {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
    margin-top: 5px;

}

.compound {
    margin-bottom: 25px;
    padding-left: 15px;
    font-weight: 400;
    

 }

.price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;

}

.price-list {
    font-weight: 400;

}

.dis-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}